---
import type { HTMLAttributes } from "astro/types";
import { cva, type VariantProps } from "cva";
import Type2 from "../components/Shapes/Evolution/02/Type2.astro";
import NavItem from "../components/NavItem.astro";
import Button from "../components/Button.astro";

const navigation = cva({
	base: "flex py-6 px-12 justify-between flex-wrap",
	// **or**
	// base: ["font-semibold", "border", "rounded"],
	variants: {
		colour: {
			default: "bg-white text-black",
			coloured: "bg-set-1-200 text-black",
			black: "bg-black text-white",
		},
	},
	defaultVariants: {
		colour: "default",
	},
});

const shape = new Map([
	[
		"default",
		{
			innerShape: "text-white",
			outerShape: "text-black",
		},
	],
	[
		"coloured",
		{
			innerShape: "text-white",
			outerShape: "text-black",
		},
	],
	[
		"black",
		{
			innerShape: "text-black",
			outerShape: "text-white",
		},
	],
]);

export interface Props
	extends HTMLAttributes<"button">,
		VariantProps<typeof navigation> {}

const { colour = "default" } = Astro.props;
---

<div class={navigation({ colour })} id="top">
	<div class="flex flex-wrap items-center gap-4">
		<Type2
			class="h-4 w-4"
			innerShape={shape.get(colour)!.innerShape}
			outerShape={shape.get(colour)!.outerShape}
		/>
		<NavItem href="#" colour="white">Home</NavItem>
		<NavItem href="#" colour="white">Home 2</NavItem>
		<NavItem href="#" colour="white">Home 3</NavItem>
	</div>
	<Button variant="filled" size={800} colour="white" href="#"
		>Launch Application</Button
	>
</div>
