---
import type { HTMLAttributes } from "astro/types";
import { cva, type VariantProps } from "cva";
import TextIntro from "../components/TextIntro.astro";
import Type2 from "../components/Shapes/Evolution/03/Type2.astro";
import Type3 from "../components/Shapes/Evolution/03/Type3.astro";
import Media from "./Media.astro";

const stage = cva({
	base: "flex py-12 px-12 justify-between flex-col relative gap-8",
	// **or**
	// base: ["font-semibold", "border", "rounded"],
	variants: {
		colour: {
			default: "bg-white text-black",
			coloured: "bg-set-1-200 text-black",
			black: "bg-black text-white",
		},
		variant: {
			image: "",
			textOnly: "pb-[120px]",
		},
	},
	defaultVariants: {
		colour: "default",
	},
});

const shape_1 = new Map([
	[
		"default",
		{
			innerShape: "text-set-1-100",
			middleShape: "text-set-1-200",
			outerShape: "text-set-1-300",
		},
	],
	[
		"coloured",
		{
			innerShape: "text-set-1-100",
			middleShape: "text-set-1-200",
			outerShape: "text-set-1-300",
		},
	],
	[
		"black",
		{
			innerShape: "text-set-1-200",
			middleShape: "text-set-1-400",
			outerShape: "text-set-1-500",
		},
	],
]);

const shape_2 = new Map([
	[
		"default",
		{
			innerShape: "text-set-1-300",
			middleShape: "text-set-1-200",
			outerShape: "text-set-1-100",
		},
	],
	[
		"coloured",
		{
			innerShape: "text-set-1-300",
			middleShape: "text-set-1-200",
			outerShape: "text-set-1-100",
		},
	],
	[
		"black",
		{
			innerShape: "text-set-1-300",
			middleShape: "text-set-1-500",
			outerShape: "text-set-1-400",
		},
	],
]);

export interface Props
	extends HTMLAttributes<"button">,
		VariantProps<typeof stage> {}

const { colour = "default" } = Astro.props;
---

<div class={stage({ colour })}>
	<div
		class="right-0 top-0 flex md:absolute md:w-[331px] md:flex-col md:p-[inherit]"
	>
		<Type2
			innerShape={shape_1.get(colour)!.innerShape}
			middleShape={shape_1.get(colour)!.middleShape}
			outerShape={shape_1.get(colour)!.outerShape}
		/>
		<Type3
			innerShape={shape_2.get(colour)!.innerShape}
			middleShape={shape_2.get(colour)!.middleShape}
			outerShape={shape_2.get(colour)!.outerShape}
		/>
	</div>
	<TextIntro
		headerClass="lg:col-start-1 lg:col-end-9 col-span-full md:col-start-1 md:col-end-5"
		paragraphClass="lg:col-start-1 lg:col-end-7 col-span-full md:col-start-1 md:col-end-5"
	>
		<slot name="header" slot="header" />
		<slot name="copy" slot="copy" />
		<!-- <slot /> -->
	</TextIntro>
	<Media class="col-span-full" fullWidth>
		<slot name="media" />
	</Media>
</div>
