<div
	class="default-grid items-center justify-between bg-white px-12 py-6 text-black"
>
	<p class="copy-500 col-span-full lg:col-span-3">
		InNoWest wird im Rahmen der Bund-Länder-Initiative „Innovative
		Hochschule“ vom 01.01.2023–31.12.2027 gefördert.
	</p>
	<slot name="fundingLogos" slot="fundingLogos" />
</div>
